/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.
all files that are formatted as _abcd.scss are called partials - meaning that their css isn't compiled unless 
its impored into an unprefixed .scss file */
/* variables are placeholders for storing info that you want to reuse throhgout your styles. you can store
colours, font-stacks for any css value you might reuse. SASS uses $ to declare variables. */
body {
  background-color: #00316f;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.content {
  position: relative;
  text-align: center;
  margin: 12em auto;
  padding-bottom: 7em;
}

i {
  font-size: 1.25em;
  margin: 0 0.75em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 8px;
  color: #999;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/*.border{
	border: 1px solid #ccc;
	p{
		color: $primary-dark;
	}
}*/
/* example of nested selector 

a{
	border: 1px solid red;
	&:hover{
		background-color: $primary-dark;
		border: none;
	}
}

*/
