//* Declare all variables *//

/* variables are placeholders for storing info that you want to reuse throhgout your styles. you can store
colours, font-stacks for any css value you might reuse. SASS uses $ to declare variables. */

//colors

$primary: #00316f;
$primary-dark: rgba(0,0,0,0.5);
$white: #fff;

//fontstacks

$opensans: 'Open Sans', sans-serif;