//* main *//

body{
	background-color: $bg;
	font-family: $opensans;
	color: $white;
}

.content{
	@include content;
}

.primary-btn{
	@include button($bg, $primary-dark, #fff);
}
//p is a nested element

/*.border{
	border: 1px solid #ccc;
	p{
		color: $primary-dark;
	}
}*/

/* example of nested selector 

a{
	border: 1px solid red;
	&:hover{
		background-color: $primary-dark;
		border: none;
	}
}

*/
